.163_1150 { 
	overflow:hidden;
}
.e163_1150 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1376px;
	position:absolute;
}
.e163_1168 { 
	width:664px;
	height:515px;
	position:absolute;
	left:743px;
	top:298px;
}
.e256_179 { 
	width:716px;
	height:496px;
	position:absolute;
	left:-26px;
	top:9.5px;
}
.e163_1170 { 
	background-color:rgba(255, 255, 255, 1);
	width:560px;
	height:85px;
	position:absolute;
	left:78px;
	top:0px;
	border-top-left-radius:34px;
	border-top-right-radius:34px;
	border-bottom-left-radius:34px;
	border-bottom-right-radius:34px;
}
.e163_1171 { 
	background-color:rgba(35.00000171363354, 31.000000052154064, 32.00000189244747, 1);
	width:24px;
	height:40px;
	position:absolute;
	left:43px;
	top:22px;
}
.e163_1173 { 
	background-color:rgba(255, 255, 255, 1);
	width:558px;
	height:85px;
	position:absolute;
	left:79px;
	top:120.5px;
	border-top-left-radius:34px;
	border-top-right-radius:34px;
	border-bottom-left-radius:34px;
	border-bottom-right-radius:34px;
}
.e163_1174 { 
	width:40px;
	height:40px;
	position:absolute;
	left:34.770416259765625px;
	top:26.00635528564453px;
}
.e163_1175 { 
	background-color:rgba(35.00000171363354, 31.000000052154064, 32.00000189244747, 1);
	width:40px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
}
.e163_1177 { 
	background-color:rgba(255, 255, 255, 1);
	width:560px;
	height:85px;
	position:absolute;
	left:78px;
	top:241px;
	border-top-left-radius:34px;
	border-top-right-radius:34px;
	border-bottom-left-radius:34px;
	border-bottom-right-radius:34px;
}
.e163_1178 { 
	width:32.02634048461914px;
	height:33.36671447753906px;
	position:absolute;
	left:40.19468307495117px;
	top:25.316219329833984px;
}
.e163_1179 { 
	background-color:rgba(35.00000171363354, 31.000000052154064, 32.00000189244747, 1);
	width:32.02634048461914px;
	height:33.36671447753906px;
	position:absolute;
	left:0px;
	top:0px;
}
.e318_840 { 
	width:370px;
	height:43px;
	position:absolute;
	left:173px;
	top:361.5px;
}
.e318_841 { 
	width:24px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}
.e318_842 { 
	background-color:rgba(0, 0, 0, 1);
	width:24px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}
.e318_843 { 
	background-color:rgba(234.00000125169754, 237.0000010728836, 240.00000089406967, 1);
	width:27px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}
.318_843 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e318_844 { 
	color:rgba(0, 0, 0, 1);
	width:343px;
	height:19px;
	position:absolute;
	left:26.5px;
	top:2px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e318_830 { 
	background-color:rgba(255, 255, 255, 1);
	width:137px;
	height:56px;
	position:absolute;
	left:289.5px;
	top:440px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}
.318_830 { 
	border:2px solid rgba(88.00000235438347, 108.00000116229057, 137.00000703334808, 1);
}
.ei318_830_318_804 { 
	color:rgba(88.00000235438347, 108.00000116229057, 137.00000703334808, 1);
	width:77px;
	height:48px;
	position:absolute;
	left:30px;
	top:4px;
	font-family:Hind;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}
.e163_1182 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:688px;
	height:689px;
	position:absolute;
	left:59px;
	top:166px;
	border-top-left-radius:80px;
	border-top-right-radius:80px;
	border-bottom-left-radius:80px;
	border-bottom-right-radius:80px;
}
.163_1182 { 
	border:4px solid rgba(88.00000235438347, 108.00000116229057, 137.00000703334808, 1);
}
.e254_84 { 
	color:rgba(55.00000052154064, 80.00000283122063, 78.00000295042992, 1);
	width:305px;
	height:76px;
	position:absolute;
	left:191.5px;
	top:50px;
	font-family:Baloo;
	text-align:center;
	font-size:48px;
	letter-spacing:3;
}
.e163_1184 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:560px;
	height:85px;
	position:absolute;
	left:64px;
	top:160px;
	border-top-left-radius:34px;
	border-top-right-radius:34px;
	border-bottom-left-radius:34px;
	border-bottom-right-radius:34px;
}
.e256_158 { 
	color:rgba(0, 0, 0, 0.5);
	width:402px;
	height:48px;
	position:absolute;
	left:70.00390625px;
	top:24px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e163_1185 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:558px;
	height:85px;
	position:absolute;
	left:65px;
	top:279px;
	border-top-left-radius:34px;
	border-top-right-radius:34px;
	border-bottom-left-radius:34px;
	border-bottom-right-radius:34px;
}
.e256_156 { 
	color:rgba(0, 0, 0, 0.5);
	width:402px;
	height:48px;
	position:absolute;
	left:81.00390625px;
	top:25px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e338_708 { 
	background-color:rgba(55.00000052154064, 80.00000283122063, 78.00000295042992, 1);
	width:39.166664123535156px;
	height:31.33333396911621px;
	position:absolute;
	left:24px;
	top:30px;
}
.e163_1188 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:560px;
	height:85px;
	position:absolute;
	left:64px;
	top:398px;
	border-top-left-radius:34px;
	border-top-right-radius:34px;
	border-bottom-left-radius:34px;
	border-bottom-right-radius:34px;
}
.e163_1191 { 
	width:45.33271026611328px;
	height:43px;
	position:absolute;
	left:488.3132629394531px;
	top:22px;
}
.e163_1192 { 
	background-color:rgba(0, 0, 0, 1);
	width:45.33271026611328px;
	height:43px;
	position:absolute;
	left:0px;
	top:0px;
}
.e256_157 { 
	color:rgba(0, 0, 0, 0.5);
	width:402px;
	height:48px;
	position:absolute;
	left:79.00390625px;
	top:27px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e338_710 { 
	background-color:rgba(55.00000052154064, 80.00000283122063, 78.00000295042992, 1);
	width:37.60000228881836px;
	height:47px;
	position:absolute;
	left:26px;
	top:22px;
}
.e261_240 { 
	width:370px;
	height:43px;
	position:absolute;
	left:159px;
	top:517px;
}
.e261_236 { 
	width:24px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}
.e261_237 { 
	background-color:rgba(0, 0, 0, 1);
	width:24px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}
.e261_238 { 
	background-color:rgba(234.00000125169754, 237.0000010728836, 240.00000089406967, 1);
	width:27px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}
.261_238 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e261_239 { 
	color:rgba(0, 0, 0, 1);
	width:343px;
	height:19px;
	position:absolute;
	left:26.5px;
	top:2px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e318_828 { 
	background-color:rgba(255, 255, 255, 1);
	width:125px;
	height:56px;
	position:absolute;
	left:281.5px;
	top:594px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}
.318_828 { 
	border:2px solid rgba(88.00000235438347, 108.00000116229057, 137.00000703334808, 1);
}
.ei318_828_318_804 { 
	color:rgba(88.00000235438347, 108.00000116229057, 137.00000703334808, 1);
	width:77px;
	height:48px;
	position:absolute;
	left:24px;
	top:4px;
	font-family:Hind;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}
.e256_180 { 
	width:1460px;
	height:480.4486083984375px;
	position:absolute;
	left:0px;
	top:898px;
}
.e256_181 { 
	background-color:rgba(55.00000052154064, 80.00000283122063, 78.00000295042992, 1);
	width:1460px;
	height:480.4486083984375px;
	position:absolute;
	left:0px;
	top:0px;
}
.e256_182 { 
	width:243px;
	height:25.233644485473633px;
	position:absolute;
	left:54px;
	top:424.15887451171875px;
}
.e256_183 { 
	width:28px;
	height:24px;
	position:absolute;
	left:15px;
	top:0px;
	border-top-left-radius:11px;
	border-top-right-radius:11px;
	border-bottom-left-radius:11px;
	border-bottom-right-radius:11px;
	background-image:url(images/facebook.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e256_184 { 
	width:27px;
	height:25px;
	position:absolute;
	left:53px;
	top:0px;
	border-top-left-radius:11px;
	border-top-right-radius:11px;
	border-bottom-left-radius:11px;
	border-bottom-right-radius:11px;
	background-image:url(images/twiter.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e256_185 { 
	width:28px;
	height:25px;
	position:absolute;
	left:90px;
	top:0px;
	border-top-left-radius:11px;
	border-top-right-radius:11px;
	border-bottom-left-radius:11px;
	border-bottom-right-radius:11px;
	background-image:url(images/in.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e256_186 { 
	width:24px;
	height:24px;
	position:absolute;
	left:128px;
	top:0px;
	border-top-left-radius:11px;
	border-top-right-radius:11px;
	border-bottom-left-radius:11px;
	border-bottom-right-radius:11px;
	background-image:url(images/youtube.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e256_187 { 
	width:28px;
	height:25px;
	position:absolute;
	left:162px;
	top:0px;
	border-top-left-radius:11px;
	border-top-right-radius:11px;
	border-bottom-left-radius:11px;
	border-bottom-right-radius:11px;
	background-image:url(images/instagram.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e256_188 { 
	width:28px;
	height:25px;
	position:absolute;
	left:200px;
	top:0px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
	background-image:url(images/pisent.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e256_189 { 
	color:rgba(255, 255, 255, 1);
	width:195px;
	height:279.5887756347656px;
	position:absolute;
	left:271px;
	top:178.88784790039062px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e256_190 { 
	color:rgba(255, 255, 255, 1);
	width:195px;
	height:279.5887756347656px;
	position:absolute;
	left:66px;
	top:178.88784790039062px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e256_191 { 
	color:rgba(255, 255, 255, 1);
	width:242px;
	height:54.50467300415039px;
	position:absolute;
	left:111px;
	top:83px;
	font-family:Inter;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e256_192 { 
	width:380px;
	height:236.18692016601562px;
	position:absolute;
	left:1011px;
	top:137.50466918945312px;
}
.e256_193 { 
	color:rgba(255, 255, 255, 1);
	width:374px;
	height:66.6168212890625px;
	position:absolute;
	left:6px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e256_194 { 
	width:324.387939453125px;
	height:181.68223571777344px;
	position:absolute;
	left:0px;
	top:54.50471496582031px;
	background-image:url(images/canal_youtube_psicoactiva_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e256_195 { 
	color:rgba(255, 255, 255, 1);
	width:500px;
	height:41.3831787109375px;
	position:absolute;
	left:454px;
	top:178.88784790039062px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e256_196 { 
	color:rgba(255, 255, 255, 1);
	width:441px;
	height:35.32710266113281px;
	position:absolute;
	left:458px;
	top:225.31776428222656px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e256_197 { 
	color:rgba(255, 255, 255, 1);
	width:500px;
	height:41.3831787109375px;
	position:absolute;
	left:460px;
	top:290.92523193359375px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e256_198 { 
	color:rgba(255, 255, 255, 1);
	width:497px;
	height:63.588783264160156px;
	position:absolute;
	left:463px;
	top:337.3551330566406px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e318_596 { 
	width:1460px;
	height:128px;
	position:absolute;
	left:0px;
	top:8px;
}
.e318_597 { 
	background-color:rgba(255, 255, 255, 1);
	width:1460px;
	height:128px;
	position:absolute;
	left:0px;
	top:0px;
}
.e318_598 { 
	width:800px;
	height:80px;
	position:absolute;
	left:195px;
	top:24px;
}
.e318_599 { 
	width:112px;
	height:80px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:40px;
	border-top-right-radius:40px;
	border-bottom-left-radius:40px;
	border-bottom-right-radius:40px;
}
.ei318_599_318_278 { 
	color:rgba(55.00000052154064, 80.00000283122063, 78.00000295042992, 1);
	width:80px;
	height:48px;
	position:absolute;
	left:16px;
	top:16px;
	font-family:Hind;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e318_600 { 
	width:152px;
	height:80px;
	position:absolute;
	left:130px;
	top:0px;
	border-top-left-radius:40px;
	border-top-right-radius:40px;
	border-bottom-left-radius:40px;
	border-bottom-right-radius:40px;
}
.ei318_600_318_278 { 
	color:rgba(55.00000052154064, 80.00000283122063, 78.00000295042992, 1);
	width:120px;
	height:48px;
	position:absolute;
	left:16px;
	top:16px;
	font-family:Hind;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e318_601 { 
	width:120px;
	height:80px;
	position:absolute;
	left:300px;
	top:0px;
	border-top-left-radius:40px;
	border-top-right-radius:40px;
	border-bottom-left-radius:40px;
	border-bottom-right-radius:40px;
}
.ei318_601_318_278 { 
	color:rgba(55.00000052154064, 80.00000283122063, 78.00000295042992, 1);
	width:88px;
	height:48px;
	position:absolute;
	left:16px;
	top:16px;
	font-family:Hind;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e318_602 { 
	width:189px;
	height:80px;
	position:absolute;
	left:438px;
	top:0px;
	border-top-left-radius:40px;
	border-top-right-radius:40px;
	border-bottom-left-radius:40px;
	border-bottom-right-radius:40px;
}
.ei318_602_318_278 { 
	color:rgba(55.00000052154064, 80.00000283122063, 78.00000295042992, 1);
	width:157px;
	height:48px;
	position:absolute;
	left:16px;
	top:16px;
	font-family:Hind;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e318_603 { 
	width:155px;
	height:80px;
	position:absolute;
	left:645px;
	top:0px;
	border-top-left-radius:40px;
	border-top-right-radius:40px;
	border-bottom-left-radius:40px;
	border-bottom-right-radius:40px;
}
.ei318_603_318_278 { 
	color:rgba(55.00000052154064, 80.00000283122063, 78.00000295042992, 1);
	width:123px;
	height:48px;
	position:absolute;
	left:16px;
	top:16px;
	font-family:Hind;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e318_604 { 
	width:154px;
	height:143px;
	position:absolute;
	left:42px;
	top:0px;
}
.e318_605 { 
	width:134px;
	height:123px;
	position:absolute;
	left:10px;
	top:10px;
	background-image:url(images/logo_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e318_606 { 
	width:386px;
	height:80px;
	position:absolute;
	left:1001px;
	top:31px;
}
.e318_607 { 
	width:59px;
	height:59px;
	position:absolute;
	left:0px;
	top:10.5px;
}
.ei318_607_318_313 { 
	width:74px;
	height:74px;
	position:absolute;
	left:0px;
	top:0px;
}
.i318_607_318_314 { 
	border:5px solid rgba(55.00000052154064, 80.00000283122063, 78.00000295042992, 1);
}
.ei318_607_318_314 { 
	width:34.41666793823242px;
	height:34.41666793823242px;
	position:absolute;
	left:7.375px;
	top:7.375px;
}
.i318_607_318_315 { 
	border:5px solid rgba(55.00000052154064, 80.00000283122063, 78.00000295042992, 1);
}
.ei318_607_318_315 { 
	width:14.75px;
	height:14.75px;
	position:absolute;
	left:36.875px;
	top:36.875px;
}
.e318_608 { 
	width:64px;
	height:64px;
	position:absolute;
	left:92px;
	top:8px;
}
.ei318_608_318_416 { 
	background-color:rgba(88.00000235438347, 108.00000116229057, 137.00000703334808, 1);
	width:20.000003814697266px;
	height:20.000003814697266px;
	position:absolute;
	left:21.999685287475586px;
	top:16.000045776367188px;
}
.ei318_608_318_417 { 
	background-color:rgba(88.00000235438347, 108.00000116229057, 137.00000703334808, 1);
	width:56.0000114440918px;
	height:56.0000114440918px;
	position:absolute;
	left:4.0003342628479px;
	top:3.999903678894043px;
}
.ei318_608_318_418 { 
	width:64px;
	height:64px;
	position:absolute;
	left:0px;
	top:0px;
}
.e318_609 { 
	background-color:rgba(219.0000021457672, 178.00000458955765, 255, 1);
	width:197px;
	height:80px;
	position:absolute;
	left:189px;
	top:0px;
	border-top-left-radius:40px;
	border-top-right-radius:40px;
	border-bottom-left-radius:40px;
	border-bottom-right-radius:40px;
}
.ei318_609_318_147 { 
	color:rgba(55.00000052154064, 80.00000283122063, 78.00000295042992, 1);
	width:165px;
	height:48px;
	position:absolute;
	left:16px;
	top:16px;
	font-family:Hind;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e361_158 { 
	color:rgba(0, 0, 0, 1);
	width:542px;
	height:52px;
	position:absolute;
	left:814px;
	top:262px;
	font-family:Hind;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
