*{
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
  }
  
  
  .nav{
    border:2px solid rgb(255, 255, 255);
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    align-items: center;
  
  }
  
  .subnav{
    text-align: center;
    width: 200px;
    gap: 16px;
    align-items: center;
    margin-top: 24px;
    padding: 16px;
    border-radius: 40px;
    border:none;
    display: flex;
    color: #37504E;
    font-size: 24px;
    font-weight: bold;
    word-wrap: break-word
    
  
  }
  
    .subnav:hover{
      background-color: #586C89;
      color: #ffffff;
      border-radius: 40px;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    }
  
  
  #nav2{
    height: 72px;
    width: 176px;
    display: flex;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 40px;
    font-family: Hind;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: var(--brand-color-gris-1, #37504E);
    background: #DBB2FF;
    border:none;
    text-align: center;
  }
  
    #nav2:hover{
      background-color: #37504E;
      color: #DBB2FF;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    }
  
  
  #logo{
    width: 134px;
    height: 123px;
  }
  
  .lupa{
    color:#37504E;
    font-size: 66px !important;
    margin-right: 2%;
  
  }
      .lupa:hover{
        color:#97EEEA;
      }
  
  .login{
    color:#37504E;
    font-size: 60px !important;
  
  }
      .login:hover{
        color:#97EEEA;
      }
  


.uno {
    background: #E5FBFA;
    display: flex;
    justify-content: center;
    padding-top: 120px;
    padding-bottom: 120px;
    gap: 320px;
}
.texto{
    color: #586C89;
    font-size: 48px;
    font-weight: 600;
    letter-spacing: 1.44px;
    word-wrap: break-word;
}
.texto1{
    color: black;
    font-size: 32px;
    font-weight: bold;
    word-wrap: break-word;
}
.comenzar{
    background: #37504E;
    border-radius: 32px;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    padding: 16px;
}
.comenzar:hover{
    background-color: #DBB2FF;
    color: #37504E;
}
.boton{
    text-align: center;
    color: white;
    font-size: 32px;
    font-weight: bold;
    word-wrap: break-word
}
.texto, .texto1, .comenzar{
    margin-top: 16px;
}

.dos {
    background: #EAEDF0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 120px;
    padding-bottom: 120px;
    gap: 32px;
}
.titulo2 {
    display: flex;
    flex-direction: row;
    align-items: left;
    text-align: center;
    gap: 16px;
    font-size: 40px;
    font-weight: bold;
    color: #586C89;
}
.titulo2 img {
    width: 80px;
    height: 80px;
}
.titulo2 p {
    width: 100%;
    text-align: left;
}
.contenedor2 {
    display: flex;
    justify-content: center;
    gap: 120px;
    width: 250px;
}
.div1 {
    text-align: center;
    font-size: 24px;
    font-family: Baloo;
    letter-spacing: 1.44px;
    word-wrap: break-word;
}
.div1 img{
    border: 10px solid #586C89;
    border-radius: 20px;
}
.contenedor2 p {
    width: 100%;
    text-align: left;
    line-height: 2;
}

.tres {
    display: flex;
    justify-content: center;
}

#izquierda {
    width: 50%;
    background-color: #586C89;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 160px;
}
#izquierda p{
    color: #ffffff;
    font-size: 32px;
    font-family: Baloo;
    font-weight: bold;
    word-wrap: break-word;
    margin-bottom: 20px;
}
.separado {
    padding-top: 140px;
}
#enlace{
    color: #586C89;
    background: #ffffff;
    border-radius: 32px;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    padding: 8px;
}
#enlace:hover{
    background-color: #DBB2FF;
    color: #37504E;
}
#derecha{
    width: 50%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 160px;
    padding-bottom: 160px;
    padding-left: 160px;
}
#derecha p{
    width: 300px;
}
.div2 {
    display: flex;
    flex-direction: row;
    align-items: left;
    text-align: center;
}
#derecha img {
    width: 80px;
    height: 80px;
    margin-right: 20px;
}
.text3,
.text4 {
    color: #586C89;
    font-size: 32px;
    font-family: Baloo;
    font-weight: bold;
    word-wrap: break-word;
    margin-bottom: 20px;
}
.text4 {
    color: black;
}


footer{
    width: 99%;
    height: 480px;
    flex-shrink: 0;
  
    position: absolute;
    background: #37504E;
  
    
  }
  .txt{
   color: white;
   font-size: 16px;
   font-family: Inter;
   font-weight: 400;
   word-wrap: break-word;
   position: absolute;
  
  }
  .txt1{
  
    color: white;
    font-size: 16px;
    font-family: Inter;
    font-weight: 700;
    text-decoration:underline; 
    word-wrap: break-word;
    position: absolute;
  }
  .txt2{
    margin-top: 32px;
    margin-left: 104px;
    color: white;
    font-size: 48px;
    font-family: Inter;
    font-weight: 400;
  }
  .fimg{
    width: 28px; height: 24px;
    border-radius: 12px
  }
  .iconosRRSS{
    width: 243px; height: 25px; left: 52px; top: 372px; position: absolute;
    padding-left: 15px; padding-right: 15px;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    display: inline-flex"
  }