header{
    background: white;
    margin-top: 24px;
    margin-bottom: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 48px;
 
}
#logo{
    width: 160px;
}
#logo1{
    margin-top: 24px;
    width: 80px;
}
.nav{    
    margin-top: 24px;
    padding: 16px;
    border-radius: 40px;
    box-shadow: 5px 5px 4px 1px #474747;
    color: #37504E;
    font-size: 32px;
    font-weight: bold;
    word-wrap: break-word
    }
        .nav1:hover{
            background-color: #ffc3c3;
            color: white;
        }
.nav1{
    margin-top: 24px;
    padding: 16px;
    border-radius: 40px;
    box-shadow: 5px 5px 4px 1px #474747;
    background: #DBB2FF;
    color: #37504E;
    font-size: 32px;
    font-weight: bold;
    word-wrap: break-word
}
    .nav:hover{
        background-color: #474747;
        color: #DBB2FF;
    }


.uno {
    background: #E5FBFA;
    display: flex;
    justify-content: center;
    padding-top: 120px;
    padding-bottom: 120px;
    gap: 320px;
}
.texto{
    color: #586C89;
    font-size: 48px;
    font-weight: 600;
    letter-spacing: 1.44px;
    word-wrap: break-word;
}
.texto1{
    color: black;
    font-size: 32px;
    font-weight: bold;
    word-wrap: break-word;
}
.comenzar{
    background: #37504E;
    border-radius: 32px;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    padding: 16px;
}
.comenzar:hover{
    background-color: #DBB2FF;
    color: #37504E;
}
.boton{
    text-align: center;
    color: white;
    font-size: 32px;
    font-weight: bold;
    word-wrap: break-word
}
.texto, .texto1, .comenzar{
    margin-top: 16px;
}

.dos {
    background: #EAEDF0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 120px;
    padding-bottom: 120px;
    gap: 32px;
}
.titulo2 {
    display: flex;
    flex-direction: row;
    align-items: left;
    text-align: center;
    gap: 16px;
    font-size: 40px;
    font-weight: bold;
    color: #586C89;
}
.titulo2 img {
    width: 80px;
    height: 80px;
}
.titulo2 p {
    width: 100%;
    text-align: left;
}
.contenedor2 {
    display: flex;
    justify-content: center;
    gap: 120px;
    width: 250px;
}
.div1 {
    text-align: center;
    font-size: 24px;
    font-family: Baloo;
    letter-spacing: 1.44px;
    word-wrap: break-word;
}
.div1 img{
    border: 10px solid #586C89;
    border-radius: 20px;
}
.contenedor2 p {
    width: 100%;
    text-align: left;
    line-height: 2;
}





.tres {
    display: flex;
    justify-content: center;
}

#izquierda {
    width: 50%;
    background-color: #586C89;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 160px;
}
#izquierda p{
    color: #ffffff;
    font-size: 32px;
    font-family: Baloo;
    font-weight: bold;
    word-wrap: break-word;
    margin-bottom: 20px;
}
.separado {
    padding-top: 140px;
}
#enlace{
    color: #586C89;
    background: #ffffff;
    border-radius: 32px;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    padding: 8px;
}
#enlace:hover{
    background-color: #DBB2FF;
    color: #37504E;
}
#derecha{
    width: 50%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 160px;
    padding-bottom: 160px;
    padding-left: 160px;
}
#derecha p{
    width: 300px;
}
.div2 {
    display: flex;
    flex-direction: row;
    align-items: left;
    text-align: center;
}
#derecha img {
    width: 80px;
    height: 80px;
    margin-right: 20px;
}
.text3,
.text4 {
    color: #586C89;
    font-size: 32px;
    font-family: Baloo;
    font-weight: bold;
    word-wrap: break-word;
    margin-bottom: 20px;
}
.text4 {
    color: black;
}










footer{   
    height: 800px;
    background: #37504E;
    display: flex;
    justify-content: center;
    padding-top: 120px;
    padding-bottom: 120px;
}
.txt{
   color: white;
   font-size: 16px;
   font-family: Inter;
   font-weight: 400;
   word-wrap: break-word;
}
.txt1{
    color: white;
    font-size: 16px;
    font-family: Inter;
    font-weight: 700;
    text-decoration:
    underline; word-wrap: break-word;
}
.txt2{
    color: white;
    font-size: 48px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word;
}
.fimg{
    width: 28px; height: 24px;
    border-radius: 12px
}
.iconosRRSS{    
    padding-left: 15px; padding-right: 15px;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    display: inline-flex"
}

